body {
  height: 100%;
  margin: 0;
  //overflow: hidden;
}
.main {
  width: 70%;
  float: right;
  margin: -80px 50px 0 0;
}

.legend {
  margin-top:-50px;
  width: 70%;
  float: right;
  margin-right: 50px;
  font-size: 60px;
  a {
    color: #000;
    text-decoration: none;
  }
}

.info {
  padding-bottom: 10px;
  margin-top: -10px;
  color: #777;
  font-size:15px;
  font-style: italic;
}

.debug {
  float: left;
}

.sidebar {
  float:left;

  width: 20%;
  //height: 100%;
  margin-top: 250px;
  border-right: 1px solid #999;
  ul {
    margin:0px;
    float:right;
    padding-right: 10px;
    a {
      color: #000;
      text-decoration: none;
      font-style: italic;
      font-size: 18px;
    }
  }

  .footer {
    float: right;
    margin-top: 235px;
    margin-left: 120px;
    padding-right:10px;
  }
}

.about {
  margin-top: 40px;
  .photo { float:left;}
  ul {
    width: 60%;
    margin-left:300px;
    margin-right:0;
    li {
      margin-bottom: 10px;
    }
  }
}

.pagination {
  margin-left: 40px;
  margin-bottom: 30px;
  a {
    color: #000;
    font-style: italic;
  } 
}
