$a_transition_time: 0.2s;
$bright_blue: #007FFF;
@mixin transition($x: 0.5s) {
  -o-transition: $x;
  -ms-transition: $x;
  -moz-transition: $x;
  -webkit-transition: $x;
  transition: $x;
}
body {
  height: 100%;
  margin: 0;
  //overflow: hidden;
}
blockquote {
  margin: 1em 0;
  border-left: 4px solid #DDD;
  padding: 0 20px;
}
.main {
  width: 70%;
  float: right;
  margin: -80px 50px 0 0;
}

a{
  color: black;
  text-decoration: none;
  @include transition($a_transition_time);
  &:hover {
    color: $bright_blue;
  }
}

.legend {
  margin-top:-50px;
  width: 70%;
  float: right;
  margin-right: 50px;
  font-size: 60px;
  a:hover {
    color: black;
    opacity: 0.7;
  }
}

.info {
  padding-bottom: 10px;
  margin-top: -10px;
  color: #777;
  font-size:15px;
  font-style: italic;
}

.debug {
  float: left;
}

.sidebar {
  float:left;
  position: fixed;
  bottom: 10px;
  width: 20%;
  //height: 100%;
  border-right: 1px solid #999;
  ul {
    margin:0px;
    float:right;
    padding-right: 10px;
    a {
      float:right;
      font-style: italic;
      font-size: 18px;
    }
  }

  .footer {
    float: right;
    margin-top: 235px;
    margin-left: 120px;
    padding-right:10px;
  }
}

.about {
  margin-top: 40px;
  .photo { float:left;}
  ul {
    width: 60%;
    margin-left:300px;
    margin-right:0;
    li {
      margin-bottom: 10px;
    }
  }

}

.pagination {
  margin-left: 40px;
  margin-bottom: 30px;
  a {
    font-style: italic;
    text-decoration: underline;
  }
}
