ul.posts {
  margin-top: -20px;
  list-style-type: none;
  
  > li {
    padding: 30px 0px;
    border-bottom: 1px solid #DDD;
    
    a{
      color: #000;
      text-decoration: none;
    }

    &:last-child {
      border-bottom: none;
    }

    .more {
      margin-top: 10px;
      a{
        padding: 5px 20px;
        background-color: #000;
        color: #fff;
        font-style:bold;
      }
    }
  }
}

#post {
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .article {
    padding-top: 20px;
    a {
      color: #000;
      text-decoration: none;
    }
  }

  border-bottom: 1px solid #DDD;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.CodeRay {
  border: 1px solid #CCC;
}
