$grey: #DDD;
$bright_blue: #007FFF;
@mixin border-radius($x: 4px){
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  -o-border-radius: $x;
  border-radius: $x;
}
ul.posts {
  margin-top: -20px;
  list-style-type: none;

  & > li {
    padding: 30px 0px;
    border-bottom: 1px solid $grey;

    &:last-child {
      border-bottom: none;
    }

    .more {
      margin-top: 10px;
      a{
        padding: 5px 20px;
        background-color: black;
        color: white;
        font-style:bold;
      }
    }
  }
}

code {
  padding: 2px 5px;
  margin: 0 2px;
  @include border-radius;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: #d02728;
}

#post {
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .article {
    padding-top: 20px;
    a {
      color: black;
      text-decoration: none;
    }
  }

  border-bottom: 1px solid $grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
