$grey: #DDD;
$bright_blue: #007FFF;
@mixin border-radius($x: 4px){
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  -o-border-radius: $x;
  border-radius: $x;
}
ul.posts {
  margin-top: -20px;
  list-style-type: none;

  & > li {
    padding: 30px 0px;
    border-bottom: 1px solid $grey;

    &:last-child {
      border-bottom: none;
    }
  }

  li .content a {
    color: #1695b9;
    text-decoration: underline;
    font-style: italic;
  }
  li .more {
    margin-top: 10px;
    a{
      padding: 5px 20px;
      background-color: black;
      color: white;
      font-style:bold;
      &:hover {
        background-color: #333;
      }
    }
  }
}

code {
  padding: 2px 5px;
  margin: 0 2px;
  @include border-radius;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: #EE2244;
}

// Show page
#post {
  border-bottom: 1px solid $grey;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: Times, serif;
    &.title {
      text-align: center;
    }
  }

  .info {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  .article {
    padding-top: 20px;
    font-family: $lucida-grande;
    a {
      color: #1695b9;
      text-decoration: underline;
      font-style: italic;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: $georgia;
    }
  }
}

.main-post {
  width: 60%;
  margin: auto;
}

.go-home {
  position: fixed;
  margin: 10px;
  a {
    opacity: 0.5;
  }
  a:hover {
    opacity: 1;
    color: #000;
  }
}
