$grey: #DDD;
ul.posts {
  margin-top: -20px;
  list-style-type: none;

  > li {
    padding: 30px 0px;
    border-bottom: 1px solid $grey;

    a{
      color: black;
      text-decoration: none;
    }

    &:last-child {
      border-bottom: none;
    }

    .more {
      margin-top: 10px;
      a{
        padding: 5px 20px;
        background-color: white;
        color: white;
        font-style:bold;
      }
    }
  }
}

#post {
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .article {
    padding-top: 20px;
    a {
      color: black;
      text-decoration: none;
    }
  }

  border-bottom: 1px solid $grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
